.online-item {
  height: 35px;
  margin-bottom: 10px;
  @include flex(null, center);
  padding-left: 12px;
  position: relative;

  &:hover {
    background-color: var(--chat-main-background-color);
    border-radius: 10px;
  }

  .avatar {
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .status {
    position: absolute;
    left: 32px;
    bottom: 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .status.online-status {
    background-color: #adff2f;
  }

  // .status.outline-status {
  //   background-color: #e1e1e1;
  // }
}

.outline-item {
  filter: grayscale(100%);
}
